/* this file needs comments */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* This is the font size and location of business name in header 1  */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* This changes the color for a couple of the letters in the business name - top left of page */
.header h1 .seo {
  color: #d9dcd6;
}

.header div {
  /* header element */
  padding-top: 15px; /* moves the content in the element from edge 15 px */
  margin-right: 20px; /* creates white space*/
  float: right; /* moves the element to right of screen */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* These are reference links(shortcuts)to other page material */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Font size for all paragraphs on page */
p {
  font-size: 16px;
}

.digital-marketing {
  max-width: 100%;
  max-height: 60%;
  align-content: center;
}

/* Large centered image used as a web banner*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../assets/images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Control whther images in the boxes are left or right of text */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* Styles the left/center boxes to be put closer to the right panel */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* This is the style for entire right panel */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Right panel: Three of the same color and text size paragraphs*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Right panel:Three of the same style headers??????*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*  Right panel:Three images all the same  */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*  Left/center panel:Three headers are same style  */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*  Left/center panel:Three images same size */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}

/*  Left/center panel:Three Headers all the same size and margin */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Footer in center of bottom of page */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
